# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/
predictions_result.jsonl
merged-ppo/config.json
merged-ppo/generation_config.json
merged-ppo/model.safetensors
merged-ppo/special_tokens_map.json
merged-ppo/tokenizer_config.json
merged-ppo/tokenizer.json
merged-pt/config.json
merged-pt/generation_config.json
merged-pt/model.safetensors
merged-pt/special_tokens_map.json
merged-pt/tokenizer_config.json
merged-pt/tokenizer.json
merged-rm/config.json
merged-rm/model.safetensors
merged-rm/special_tokens_map.json
merged-rm/tokenizer_config.json
merged-rm/tokenizer.json
merged-sft/config.json
merged-sft/generation_config.json
merged-sft/model.safetensors
merged-sft/special_tokens_map.json
merged-sft/tokenizer_config.json
merged-sft/tokenizer.json
outputs-pt-v1/adapter_config.json
outputs-pt-v1/adapter_model.safetensors
outputs-pt-v1/all_results.json
outputs-pt-v1/eval_results.json
outputs-pt-v1/README.md
outputs-pt-v1/special_tokens_map.json
outputs-pt-v1/tokenizer_config.json
outputs-pt-v1/tokenizer.json
outputs-pt-v1/train_results.json
outputs-pt-v1/trainer_state.json
outputs-pt-v1/checkpoint-500/adapter_config.json
outputs-pt-v1/checkpoint-500/adapter_model.safetensors
outputs-pt-v1/checkpoint-500/optimizer.pt
outputs-pt-v1/checkpoint-500/README.md
outputs-pt-v1/checkpoint-500/rng_state.pth
outputs-pt-v1/checkpoint-500/scheduler.pt
outputs-pt-v1/checkpoint-500/trainer_state.json
outputs-pt-v1/checkpoint-500/training_args.bin
outputs-pt-v1/checkpoint-822/adapter_config.json
outputs-pt-v1/checkpoint-822/adapter_model.safetensors
outputs-pt-v1/checkpoint-822/optimizer.pt
outputs-pt-v1/checkpoint-822/README.md
outputs-pt-v1/checkpoint-822/rng_state.pth
outputs-pt-v1/checkpoint-822/scheduler.pt
outputs-pt-v1/checkpoint-822/trainer_state.json
outputs-pt-v1/checkpoint-822/training_args.bin
outputs-pt-v1/runs/Aug07_14-32-36_fenglidadeMacBook-Pro.local/events.out.tfevents.1723012361.fenglidadeMacBook-Pro.local.10734.0
outputs-pt-v1/runs/Aug07_14-32-36_fenglidadeMacBook-Pro.local/events.out.tfevents.1723012765.fenglidadeMacBook-Pro.local.10734.1
outputs-rl-v1/adapter_config.json
outputs-rl-v1/adapter_model.safetensors
outputs-rl-v1/config.json
outputs-rl-v1/pytorch_model.bin
outputs-rl-v1/README.md
outputs-rl-v1/special_tokens_map.json
outputs-rl-v1/tokenizer_config.json
outputs-rl-v1/tokenizer.json
outputs-rl-v1/trl/events.out.tfevents.1723018709.fenglidadeMacBook-Pro.local.48567.0
outputs-rl-v1/trl/events.out.tfevents.1723019206.fenglidadeMacBook-Pro.local.51385.0
outputs-rl-v1/trl/events.out.tfevents.1723019253.fenglidadeMacBook-Pro.local.51670.0
outputs-rl-v1/trl/events.out.tfevents.1723019304.fenglidadeMacBook-Pro.local.51973.0
outputs-rl-v1/trl/events.out.tfevents.1723019409.fenglidadeMacBook-Pro.local.52591.0
outputs-rl-v1/trl/events.out.tfevents.1723019457.fenglidadeMacBook-Pro.local.52907.0
outputs-rl-v1/trl/events.out.tfevents.1723019640.fenglidadeMacBook-Pro.local.53975.0
outputs-rl-v1/trl/events.out.tfevents.1723019920.fenglidadeMacBook-Pro.local.55608.0
outputs-rl-v1/trl/1723018709.256595/events.out.tfevents.1723018709.fenglidadeMacBook-Pro.local.48567.1
outputs-rl-v1/trl/1723018709.257379/hparams.yml
outputs-rl-v1/trl/1723019206.147735/events.out.tfevents.1723019206.fenglidadeMacBook-Pro.local.51385.1
outputs-rl-v1/trl/1723019206.148587/hparams.yml
outputs-rl-v1/trl/1723019253.332159/events.out.tfevents.1723019253.fenglidadeMacBook-Pro.local.51670.1
outputs-rl-v1/trl/1723019253.3330328/hparams.yml
outputs-rl-v1/trl/1723019304.697074/events.out.tfevents.1723019304.fenglidadeMacBook-Pro.local.51973.1
outputs-rl-v1/trl/1723019304.697932/hparams.yml
outputs-rl-v1/trl/1723019409.178182/events.out.tfevents.1723019409.fenglidadeMacBook-Pro.local.52591.1
outputs-rl-v1/trl/1723019409.17903/hparams.yml
outputs-rl-v1/trl/1723019457.674229/events.out.tfevents.1723019457.fenglidadeMacBook-Pro.local.52907.1
outputs-rl-v1/trl/1723019457.675089/hparams.yml
outputs-rl-v1/trl/1723019640.954562/events.out.tfevents.1723019640.fenglidadeMacBook-Pro.local.53975.1
outputs-rl-v1/trl/1723019640.955308/hparams.yml
outputs-rl-v1/trl/1723019920.3603/events.out.tfevents.1723019920.fenglidadeMacBook-Pro.local.55608.1
outputs-rl-v1/trl/1723019920.3610198/hparams.yml
outputs-rm-v1/adapter_config.json
outputs-rm-v1/adapter_model.safetensors
outputs-rm-v1/all_results.json
outputs-rm-v1/eval_results.json
outputs-rm-v1/README.md
outputs-rm-v1/special_tokens_map.json
outputs-rm-v1/tokenizer_config.json
outputs-rm-v1/tokenizer.json
outputs-rm-v1/train_results.json
outputs-rm-v1/trainer_state.json
outputs-rm-v1/checkpoint-122/adapter_config.json
outputs-rm-v1/checkpoint-122/adapter_model.safetensors
outputs-rm-v1/checkpoint-122/optimizer.pt
outputs-rm-v1/checkpoint-122/README.md
outputs-rm-v1/checkpoint-122/rng_state.pth
outputs-rm-v1/checkpoint-122/scheduler.pt
outputs-rm-v1/checkpoint-122/trainer_state.json
outputs-rm-v1/checkpoint-122/training_args.bin
outputs-rm-v1/runs/Aug07_15-56-49_fenglidadeMacBook-Pro.local/events.out.tfevents.1723017413.fenglidadeMacBook-Pro.local.40962.0
outputs-rm-v1/runs/Aug07_15-56-49_fenglidadeMacBook-Pro.local/events.out.tfevents.1723017839.fenglidadeMacBook-Pro.local.40962.1
outputs-sft-v1/adapter_config.json
outputs-sft-v1/adapter_model.safetensors
outputs-sft-v1/all_results.json
outputs-sft-v1/eval_results.json
outputs-sft-v1/README.md
outputs-sft-v1/special_tokens_map.json
outputs-sft-v1/tokenizer_config.json
outputs-sft-v1/tokenizer.json
outputs-sft-v1/train_results.json
outputs-sft-v1/trainer_state.json
outputs-sft-v1/checkpoint-250/adapter_config.json
outputs-sft-v1/checkpoint-250/adapter_model.safetensors
outputs-sft-v1/checkpoint-250/optimizer.pt
outputs-sft-v1/checkpoint-250/README.md
outputs-sft-v1/checkpoint-250/rng_state.pth
outputs-sft-v1/checkpoint-250/scheduler.pt
outputs-sft-v1/checkpoint-250/trainer_state.json
outputs-sft-v1/checkpoint-250/training_args.bin
outputs-sft-v1/runs/Aug07_14-41-11_fenglidadeMacBook-Pro.local/events.out.tfevents.1723012874.fenglidadeMacBook-Pro.local.13850.0
outputs-sft-v1/runs/Aug07_14-51-28_fenglidadeMacBook-Pro.local/events.out.tfevents.1723013492.fenglidadeMacBook-Pro.local.17537.0
outputs-sft-v1/runs/Aug07_14-55-51_fenglidadeMacBook-Pro.local/events.out.tfevents.1723013754.fenglidadeMacBook-Pro.local.19064.0
outputs-sft-v1/runs/Aug07_14-58-16_fenglidadeMacBook-Pro.local/events.out.tfevents.1723013899.fenglidadeMacBook-Pro.local.19898.0
outputs-sft-v1/runs/Aug07_14-59-35_fenglidadeMacBook-Pro.local/events.out.tfevents.1723013979.fenglidadeMacBook-Pro.local.20369.0
outputs-sft-v1/runs/Aug07_15-01-34_fenglidadeMacBook-Pro.local/events.out.tfevents.1723014098.fenglidadeMacBook-Pro.local.21076.0
outputs-sft-v1/runs/Aug07_15-09-14_fenglidadeMacBook-Pro.local/events.out.tfevents.1723014558.fenglidadeMacBook-Pro.local.23701.0
outputs-sft-v1/runs/Aug07_15-10-15_fenglidadeMacBook-Pro.local/events.out.tfevents.1723014618.fenglidadeMacBook-Pro.local.24057.0
outputs-sft-v1/runs/Aug07_15-22-30_fenglidadeMacBook-Pro.local/events.out.tfevents.1723015353.fenglidadeMacBook-Pro.local.28427.0
outputs-sft-v1/runs/Aug07_15-25-53_fenglidadeMacBook-Pro.local/events.out.tfevents.1723015557.fenglidadeMacBook-Pro.local.29653.0
outputs-sft-v1/runs/Aug07_15-28-50_fenglidadeMacBook-Pro.local/events.out.tfevents.1723015733.fenglidadeMacBook-Pro.local.30721.0
outputs-sft-v1/runs/Aug07_15-33-10_fenglidadeMacBook-Pro.local/events.out.tfevents.1723015993.fenglidadeMacBook-Pro.local.32308.0
outputs-sft-v1/runs/Aug07_15-37-37_fenglidadeMacBook-Pro.local/events.out.tfevents.1723016261.fenglidadeMacBook-Pro.local.33846.0
outputs-sft-v1/runs/Aug07_15-37-37_fenglidadeMacBook-Pro.local/events.out.tfevents.1723017330.fenglidadeMacBook-Pro.local.33846.1
outputs-sft-v1/runs/Aug07_17-59-17_fenglidadeMacBook-Pro.local/events.out.tfevents.1723024762.fenglidadeMacBook-Pro.local.83506.0
outputs-sft-v1/runs/Aug07_17-59-17_fenglidadeMacBook-Pro.local/events.out.tfevents.1723025875.fenglidadeMacBook-Pro.local.83506.1
